<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1> 
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Hashrate <span class="pull-right"><select id="chartrange"><option value="1">1 Day</option><option value="3">3 Days</option><option value="7">7 days</option></select></span>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div id="morris-area-chart"><!--%%urlwarning%%--></div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-linux fa-fw"></i> Rigs
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div>
						<table id="rigtable" class="table table-bordered table-hover table-striped"  cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Rig</th>
									<th>Worker</th>
									<th>IP</th>
									<th>GPU</th>
									<th>Total Hashrate</th>
									<th>Miner Hashrate</th>
									<th>Temps</th>
									<th>Fans</th>
								</tr>
							</thead>
							<tbody>
								<!--%%table%%-->
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->



